.my-scroll {
  font-size: 300%;
  font-style: italic;
  color: whitesmoke;
  opacity: 0.8;
  margin-top: 100px;
}

.parallax-container {
  height: 10px;
}

.my-scroll:hover {
  opacity: 0.6;

}

.my-title1 {
  color: #a05f4f;
  margin-top: 10%;
}
.my-title2 {
  color: #ffc8a2;
}

.my-bg {
  color: #a05f4f
}

.skill-logo {
  width: 60px;
  margin: 32px;
}

.project-pic {
  width: 100px;
  margin: 1%;
}